$gogo: #2d98da;
$carbon: #304457;
$storm: #727d8e;
$smalt: #57728a;
$raven: #7a8896;
$flint: #98a9bc;
$white: #ffffff;
$apariencia: #ffffff14;
$monk: #75cfec;
$porcelain: #f3f5f7;
$koala: #e9eef2;
$cosmo: #36c99a;
